body {
  color: #F5FCFF;
  font-size: 16px;
  line-height: 1.4;
  font-weight: bolder;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url("suwoo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

span:hover {
  background-color: #284E77;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

video {
  min-width: 100%;
  min height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0 left:0;
  z-index: -1;
}

.content {
  position: absolute;
}

button {
  background: #F5FCFF;
  color: #284E77;
}

input {
  background-color: #F5FCFF;
  color: #284E77;
}

button:hover {
  background-color: #E5F2FF;
  color: w;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */

/* #container {
  width: 960px;
  margin: auto;
  background-image: url("../img/suwoo.png");
} */

h3 {
  margin-top: 40px;
}